<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/pageBarLogo.png">

	  <title>PlanIt - <%= user.username %> - Account Overview</title>

	  <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Dosis:400,300,500,700" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700" rel='stylesheet' type='text/css'>


    <!-- Theme CSS -->
    <link href="/vendor/css/agency.min.css" rel="stylesheet">

    <!-- Script -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/account_overview.js"></script>
    <script src="/javascripts/backToTop.js"></script>
    <script type="text/javascript" src="/javascripts/assets/js/jquery.uploadPreview.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<style>

body{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}


/* Sidebar */
#sidebar-wrapper {
    z-index: 3;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: LightYellow;
    border: 2px;
    opacity: 0.9;
}

/* Always take up entire screen */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 15px;
    border: 5px;
}


/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 260px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 260px;
}

#sidebar-wrapper img{
	 width:33%;
	 margin-top:15px;
	 margin-left:33%;
	 margin-bottom: 20px;
}

#sidebar-wrapper span{
	display:table;
  margin:0 auto;
	font-size:20px;
	font-family: Comic Sans MS;
}

.parallel-nav{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:10px;
	padding-right: 0;
    list-style: none;
}

.parallel-nav li{
	display: inline;
}

.parallel-nav li a{
	padding-top: 20px;
  	padding-right: 10%;
  	padding-bottom: 20px;
  	padding-left: 10%;
}

.parallel-nav li a:hover{
	background: SandyBrown;
	border-radius: 10px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
	font-size: 1.17em;
	font-family: Verdana;
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    outline:none;
}

.sidebar-nav li a:hover {
    background: SandyBrown;
}

.sidebar-nav li a i{
	margin-right: 10px;
    padding-left: 0;
}

.btn{
	  background-color: white;
    color: black;
    border: 2px solid MediumAquaMarine;
}

.btn:hover {
    background-color: MediumAquaMarine;
    color: white;
}

.status-box{
	margin-top:25px;
  width:85%;
  margin-left: auto;
  margin-right:0;
  background-color: #e6e6e6;
}

.status-box i{
  font-size: 25px;
  padding-right: 10px;
}

.statistics-box{
  margin-top:25px;
  width:90%;
  margin-left: 0;
  margin-right:auto;
}

.statistics-box a{
  text-align: center;
}

.intro-text {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
}


#page-content-wrapper h2{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}


.img-full {
    width: 100%;
}


.img-border {
    float: none;
    margin: auto;
    border: #c9d7e8 solid 1px;
}



footer {
  padding: 25px 0;
  text-align: center;
  width:100%;
}

footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
}


ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

ul.list-inline li a{
	  color:orange;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

#logoutModal {
   margin-top:15%;
   margin-left:auto;
   margin-right:auto;
}

#deleteModal {
   margin-top:12%;
   margin-left:auto;
   margin-right:auto;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.modal-header{
  background-color: RoyalBlue;
}

.modal-header h4{
  font-size:20px;
  text-align: left;
  color: white;
}

#feedbackModal {
   margin-top:12%;
   margin-left:auto;
   margin-right:auto;
}

#feedbackModal .modal-body textarea, #updateModal .modal-body textarea, #updateModal .modal-body input{
  border-radius:6px;
  resize:none;
  padding:12px;
  border:2px solid DarkGrey;
}

.blog-grid{
  overflow:hidden;
}

.post{
  padding-top:10px;
  margin-top:5px;
  margin-bottom:15px;
}


.post-text{
  background:#e6e6e6;
  clear:both;
  display:table;
  width:100%
  padding: 20px;
  font-size:14px;
  line-height: 28px;
  font-weight: 400;
}




.post-title{
  font-size:28px;
  font-family: "Dosis",arial !important;
  margin-top:5px;
  margin-bottom:0px;
  height:30px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  text-transform:uppercase;
  line-height:20px;
  font-weight:500;
  letter-spacing: 1px;
    color: #6B6B6B;
    box-sizing: border-box;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
    text-decoration: none;
    color:SaddleBrown;
}

.post-meta{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #ADADAD;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    font-family: 'Open Sans',sans-serif;
    line-height: 20px;
    font-weight: 400;
}

.post-meta a{
  color: #6A6A6A;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  font-weight: 400;
}

.post-meta a::after, .post-meta text::after{
    content: "•";
    display: inline-block;
    padding-left: 10px;
    padding-right: 7px;
    color: #C1C1C1;
}

.post-meta text.likes::after{
  content: "" !important;
}

.post-edit{
  color: SteelBlue;
}

.post-edit-text{
  color: SteelBlue;
  font-weight: 700;
  padding-left:5px;
}

.post-delete-text{
  color: Gray;
  font-weight: 700;
  padding-left:5px;
}

.post-delete{
  color:Gray;
}

.post-heart{
  color:LightCoral;
}

.post-unlike{
  color:DarkGrey;
}

.post-comment{
  color:LightBlue;
}

.post-button a{
  border: 1px solid MediumAquaMarine;
  color:DarkGrey;
}

.moment-input-group{
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 20px;
  width:100%;
}



#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}

.more-moments a, .more-moments a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.more-moments a:hover {
    text-decoration: none;
}
.status-box-header{
  background-color: #f7ba34;
  padding: 15px 20px;
  border:none;
  margin:0;
}

.status-box-header h3{
  color: white;
}

.new-moment-title{
  width:100%;
}

.form-group input[type=text]{
  box-sizing:border-box;
  width:100%;
  padding:8px 12px 12px 12px;
  border: 2px solid LightGray;

}

.form-group select{
  border: 2px solid LightGray;
  box-sizing:border-box;
  height:40px;
  margin:auto;
  width: 100%;
}

.form-group textarea{
  padding:8px 12px;
  resize:none;
  border:outset 2px orange;
  display: block;
  width:100%;
  box-sizing:border-box;
}


#image-preview {
  margin-top:14px;
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
}
#image-preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  background-image: url("/images/acc_mgnt/camera.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size: 75px;
}

.moment-text textarea{
  width:100%;
  resize: none;
  background-color: inherit;
  border:none;
  overflow: hidden;
  display: block;
  padding-left: 20px;
  padding-right:20px;
}

body{
  background-image: url("/images/acc_mgnt/bg1.png");
}

hr.special-hr {
  height: 20px;
  border-style: solid;
  border-color: #e5bf9a;
  border-width: 1px 0 0 0;
  border-radius: 30px;
 }

hr.special-hr:before {
  display: block;
  content: "";
  height: 20px;
  margin-top: -21px;
  border-style: solid;
  border-color: #c68c53;
  border-width: 0 0 1px 0;
  border-radius: 30px;
}

hr.footer-hr{
  border-color:#86592d;
}

.logo-container{
  width:130px;
  top:0;
  left:0;
}


hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: inherit;
  color: white;
}

header {
  background-image: url('/images/acc_mgnt/party.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: LightSalmon;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif !important;

}
header .intro-text .intro-lead-in {
  font-style: uppercase;
  font-weight: 700;
  font-size: 7vw;
  line-height: 22px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: 'Open Sans', sans-serif !important;
    font-style: uppercase;
    font-size: 7vw;
    line-height: 40px;
    margin-bottom: 25px;
  }
}

</style>

</head>
<body class="account-mgnt">

    <%- include navBar.ejs -%>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Seize the</div>
                <br><br>
                <div class="intro-lead-in">moment</div>
            </div>
        </div>
    </header>
    <!-- End Header-->

  <!-- Content -->
  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<img src=<%= user.propic %> class="img-circle" alt="profile_icon">
        	<span>Welcome, <strong><%= user.username %></strong>!</span>
        	<ul class="parallel-nav">
            <li><a href="/users/account/profile" title="Settings"><i class="fa fa-cog fa-2x" style="color:LightSlateGray"></i></a></li>
        		<li><a href="/users/account" title="Account Overview"><i class="fa fa-user fa-2x" style="color:RoyalBlue"></i></a></li>
        		<li><a href="" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out fa-2x" style="color:Sienna"></i></a></li>
        	</ul>
        	<hr>
            <ul class="sidebar-nav">
            	<li style="margin-left:10px">My Account</li>
                <li style="background-color: LightSkyBlue"><a href="/users/account"><i class="fa fa-home fa-fw"></i> Account Overview</a></li>
                <li><a href="/users/account/profile"><i class="fa fa-pencil fa-fw"></i> Edit Profile and Settings</a></li>
                <li><a href="/users/account/past"><i class="fa fa-diamond fa-fw"></i> Past Activities</a></li>
                <!-- Future Dev
                <li><a href="#news"><i class="fa fa-bell fa-fw"></i> News</a></li>
                <li><a href="settings.html"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
                End Future Dev -->
                <li><a href="" data-toggle="modal" data-target="#feedbackModal"><i class="fa fa-heart fa-fw"></i> Send Feedback</a></li>
                <li><a href="" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
        </div>

        <!-- Help and Feedback Modal -->
        <div class="modal fade" id="feedbackModal" role="dialog">
          <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4>Send Feedback <i class="fa fa-send"></i></h4>
              </div>
              <form id="feedbackForm">
                <div class="modal-body">
                    <textarea type="text" cols="40" rows="5" style="width:100%" id="feedbackText" placeholder="Describe your issue or share your idea"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn" id="sendFeedback">Submit</button>
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Logout Modal -->
        <div class="modal fade" id="logoutModal" role="dialog">
          <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4>Logout <i class="fa fa-lock"></i></h4>
              </div>
              <div class="modal-body">
                <i class="fa fa-question-circle"></i> Are you sure you want to log-off?
              </div>
              <div class="modal-footer">
                  <a type="button" href="/users/logout" class="btn">Confirm</a>
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row"><br>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="col-lg-1 col-md-1 col-sm-1"></div>
                      <div class="col-lg-10 col-md-10 col-sm-10" >
                        <a href="/users/account" class="btn" id="menu-toggle" style="padding-left: 30px;padding-right: 30px;">Menu <span class="glyphicon glyphicon-chevron-right"></span></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="col-lg-8 col-md-7 col-sm-7">
                        <!-- Facebook-like textarea -->
                        <div class="status-box" style="padding: 0px">
                              <div class="status-box-header" id="momentInput">
                                  <h3>What's New</h3>
                              </div>
                              <form class="form-horizontal col-lg-12" style="background: inherit;" method="post" action="/users/account/addMoment" enctype='multipart/form-data' id="newMomentForm">
                                <div class="col-lg-4">
                                    <div id="image-preview">
                                      <label for="image-upload" id="image-label"></label>
                                      <input type="file" name="momentImage" id="image-upload" />
                                      <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="form-group">
                                      <div class="col-lg-12">
                                          <input type="text" id="newMomentTitle" name="title" placeholder="Title" style="margin-top:14px; ">
                                          <p class="help-block text-danger"></p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-lg-12">
                                          <textarea class="form-element form-control" name="momentText" id="newMomentText" cols="50" rows="5" placeholder="What's your favorite moment today...?"></textarea>
                                          <p class="help-block text-danger"></p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-lg-8 col-md-8 col-sm-8">
                                          <input type="text" id="newLocation" name="location" placeholder="Location">
                                          <p class="help-block text-danger"></p>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4">
                                          <select id="newPricacy" name="privacy">
                                              <option value="1">Public</option>
                                              <option value="2">Followers</option>
                                              <option value="3">Friends</option>
                                              <option value="4">Private</option>
                                              <p class="help-block text-danger"></p>
                                          </select>
                                      </div>
                                      <div class="col-lg-5">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-lg-6 col-md-2 col-sm-2">
                                      </div>
                                      <div class="col-lg-3 col-md-5 col-sm-5">
                                          <button type="submit" class="btn" id="submitNewMoment">Submit</button>
                                      </div>

                                      <div class="col-lg-3 col-md-5 col-sm-5">
                                          <a href="/users/account" class="btn">Cancel</a>
                                      </div>
                                  </div>
                                </div>
                              </form>
                        </div>
                      </div>


                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="statistics-box">
                            <ul class="list-group">
                                <a href="#" class="list-group-item" style="background-color: Khaki ; height:18vh;">
                                    <p class="list-group-item-heading acc-count" style="font-size: 3vw;"><%= user.followers_num %></p>
                                    <p class="list-group-item-text">Past Activities</p>
                                </a>

                                <a href="#" class="list-group-item" style="background-color: Gold; height:18vh;">
                                    <p class="list-group-item-heading acc-count" style="font-size: 3vw;"><%= user.followings_num %></p>
                                    <p class="list-group-item-text">Schedules</p>
                                </a>

                                <a href="#" class="list-group-item" style="background-color: Orange; height:18vh;">
                                    <p class="list-group-item-heading acc-count" style="font-size: 3vw;"><%= moment.length %></p>
                                    <p class="list-group-item-text">Moments</p>
                                </a>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  </div>

                </div>
            </div>

          <!-- Past moments -->
          <div class="container past-moment">
            <div class="row">
              <div class="box">
                <div class="col-lg-12">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                      <hr class="special-hr">
                      <h2 class="intro-text text-center">My Precious
                        <strong style="color:LightCoral">Moments</strong>
                      </h2>
                      <hr class="special-hr">
                    </div>
                    <div class="col-lg-1"></div>
                </div>

                <div class="col-lg-12 text-center">
                  <div class="col-lg-1"></div>

                  <div class="col-lg-10" id="myMomentList">

                    <% for (var i=0; i < moment.length; i++) { %>
                      <div class="post" id= <%= "myMoment"+i %> >
                        <% if(moment[i].pic) { %>
                          <img class="img-responsive img-border img-full" src= <%= moment[i].pic %> alt="MyMomentImage" id="myMomentImg">
                        <% } %>
                          <div class="post-text">
                              <h2 class="post-title" id=<%="myMomentTitle"+i%>><%= moment[i].title %></h2>
                              <div class="post-meta">
                                  By <a href="/users/account"><%= user.username %></a><text class="likes"><%= "Posted on "+moment[i].date.getDate()+"/"+(moment[i].date.getMonth() +1)+"/"+moment[i].date.getFullYear() %></text>
                              </div>
                              <div class="moment-text">
                                  <input type="hidden" id="tmpNewTextId" name="momentId" value="">
                                  <textarea name="newMomentText" id=<%="myMomentText"+i %> rows="5" cols="500" disabled><%= moment[i].text %></textarea>
                              </div>
                              <br>

                                  <div class="input-group moment-input-group">
                                      <div class="input-group-btn post-button">
                                          <a class="btn" data-toggle="modal" data-target="#updateModal" id=<%="editBtn"+i%> name=<%= moment[i]._id %>><i class="glyphicon glyphicon-edit post-edit"></i><strong class="post-edit-text">Re-edit</strong></a>
                                          <a class="btn" data-toggle="modal" data-target="#deleteModal" id=<%="deleteBtn"+i%> name=<%= moment[i]._id %>><i class="glyphicon glyphicon-trash post-delete"></i><strong class="post-delete-text">Delete</strong></a>
                                      </div>
                                  </div>

                              <div class="moment-comment"></div>
                          </div>
                      </div>
                    <% } %>


                  <div class="more-moments">
                      <a href="#" id="loadMore">Load More</a>
                  </div>


                </div>

                <!-- Delete Moment Modal -->
                <div class="modal fade" id="deleteModal" role="dialog">
                  <div class="modal-dialog modal-md">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4>Delete This Moment <i class="fa fa-trash-o"></i></h4>
                        </div>
                        <div class="modal-body" style="text-align: left;">
                          <i class="fa fa-question-circle"></i> Are you sure you want to delete this moment?
                        </div>
                        <div class="modal-footer">
                          <form method="post" id="deleteMomentForm" action="/users/account/deleteMoment">
                            <input type="hidden" id="tmpMomentId" name="momentId" value="">
                            <button type="submit" class="btn" id="confirmDeleteBtn" data-dismiss="modal">Confirm</button>
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                          </form>
                        </div>
                    </div>
                  </div>
                </div>


                <!-- Update Moment Modal -->
                <div class="modal fade" id="updateModal" role="dialog">
                  <div class="modal-dialog modal-md">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4>Re-edit This Moment <i class="glyphicon glyphicon-edit post-edit" style="color:white"></i></h4>
                        </div>
                        <div class="modal-body" style="text-align: left;">
                          <input class="form-control" name="newMomentTitle" type="text" id="tmpMomentTitle" placeholder="Update your title here...">
                          <br>
                          <textarea class="form-control" name="newMomentText" type="text" id="tmpMomentText" cols="40" rows="5" style="width:100%" placeholder="Update your moment here..."></textarea>
                        </div>
                        <div class="modal-footer">
                          <form method="post" id="updateMomentForm" action="/users/account/updateMoment">
                            <input type="hidden" id="tmpMomentId2" name="momentId" value="">
                            <input type="hidden" id="updateTitle" name="updateMomentTitle" value="">
                            <input type="hidden" id="updateText" name="updateMomentText" value="">
                            <button type="submit" class="btn" id="confirmUpdateBtn" data-dismiss="modal">Confirm</button>
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                          </form>
                        </div>
                    </div>
                  </div>
                </div>


                  <div class="col-lg-1"></div>
                </div>


            </div>
     	  <div class="row">
            <div class="col-lg-1"></div>
          	<div class="col-lg-10">
          		<hr class="footer-hr">
      		  </div>
            <div class="col-lg-1"></div>
    	  </div>
        </div>
       </div>

     <%- include footer.ejs -%>

    </div>
    <!-- /.container -->

   </div>


   <%- include backToTop.ejs -%>


</body>
</html>
