<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	  <title>Edit Profile - PlanIt</title>

	<!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Dosis:400,300,500,700" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700" rel='stylesheet' type='text/css'>


    <!-- Theme CSS -->
    <link href="/vendor/css/agency.min.css" rel="stylesheet">

    <!-- Script -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/edit_profile.js"></script>
    <script type="text/javascript" src="/javascripts/assets/js/jquery.uploadPreview.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<style>

body{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-container{
  width:100%;
  height:600px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}
.img-container1{
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}

h1{
  color:GoldenRod;
  z-index:1;
  text-align:center;
  margin-right:auto;;
  margin-left: auto;
  margin-top: 15%;
  border:3px ;
  border-radius:15px;
  width:700px;
  letter-spacing: 3px;
  font-size: 10vw;
}

.header-image{
  position:absolute;
  z-index:-1;
  width:100%;
}

/* Sidebar */
#sidebar-wrapper {
    z-index: 2;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    background: LightYellow;
    border: 2px;
    opacity: 0.9;
}

/* Always take up entire screen */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 15px;
    border: 5px;
}


/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 260px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 260px;
}

#sidebar-wrapper img{
	 width:33%;
	 margin-top:15px;
	 margin-left:33%;
	 margin-bottom: 20px;
}

#sidebar-wrapper span{
	display:table;
  margin:0 auto;
	font-size:20px;
	font-family: Comic Sans MS;
}

.parallel-nav{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:10px;
	padding-right: 0;
  list-style: none;
}

.parallel-nav li{
	display: inline;
}

.parallel-nav li a{
	padding-top: 20px;
  	padding-right: 10%;
  	padding-bottom: 20px;
  	padding-left: 10%;
}

.parallel-nav li a:hover{
	background: SandyBrown;
	border-radius: 10px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
	font-size: 1.17em;
	font-family: Verdana;
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    outline:none;
}

.sidebar-nav li a:hover {
    background: SandyBrown;
}

.sidebar-nav li a i{
	margin-right: 10px;
    padding-left: 0;
}

.btn{
	  background-color: white;
    color: black;
    border: 2px solid MediumAquaMarine;
}

.btn:hover {
    background-color: MediumAquaMarine;
    color: white;
}


.btn:focus, .btn:active, .btn.active, .btn:focus:active{
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-special{
    background-color: white;
    color: black;
    border: 2px solid PowderBlue;
}

.btn-special:hover {
    background-color: PowderBlue;
    color: white;
    border: 2px solid PowderBlue;
}

.btn-popup{
    background-color: LightSalmon;
    color: white!important;
    border: 2px solid LightSalmon;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-popup:hover {
    background-color: white;
    color: black!important;
    border: 2px solid LightSalmon;
}

.intro-text {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
}


#page-content-wrapper h2{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.hide-text{
  font:0/0 a;
  color:transparent;
  text-shadow:none;
  background-color:
  transparent;
  border:0;
}

.input-block-level{
  display:block;
  width:100%;
  min-height:30px;
  -webkit-box-sizing:
  border-box;
  -moz-box-sizing:
  border-box;
  box-sizing:border-box;
}

.btn-file{
  overflow:hidden;
  position:relative;
  vertical-align:middle;
}

.btn-file input{
  position:absolute;
  top:0;
  right:0;
  margin:0;
  opacity:0;
  filter:alpha(opacity=0);
  transform:
  translate(-300px, 0)
  scale(4);
  font-size:23px;
  direction:ltr;
  cursor:pointer;
}

.fileupload{
  margin-bottom:9px;
}

.fileupload .uneditable-input{
  display:inline-block;
  margin-bottom:0px;
  vertical-align:middle;
  cursor:text;
}

.fileupload .thumbnail{
  overflow:hidden;
  display:inline-block;
  margin-bottom:5px;
  vertical-align:middle;
  text-align:center;
}

.fileupload .thumbnail img{
  display:inline-block;
  vertical-align:middle;
  max-height:100%;
}

.fileupload .btn{
  vertical-align:middle;
}

.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{
  display:none;
}

.fileupload-inline .fileupload-controls{
  display:inline;
}

.fileupload-new .input-append .btn-file{
  -webkit-border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  border-radius:0 3px 3px 0;
}

.thumbnail-borderless .thumbnail{
  border:none;
  padding:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.fileupload-new.thumbnail-borderless .thumbnail{
  border:1px solid #ddd;
}

.form-group label{
  color: SteelBlue;
  font-size: 18px;
}

.form-group label i{
  margin-right: 5px;
}

.form-group input{
  width:88%;
}

footer {
  padding: 25px 0;
  text-align: center;
  width:100%;
}

footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
}


ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

ul.list-inline li a{
	  color:orange;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}


#logoutModal {
   margin-top:15%;
   margin-left:auto;
   margin-right:auto;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.modal-header{
  background-color: RoyalBlue;
}

.modal-header h4{
  font-size:20px;
  text-align: left;
  color: white;
}

#feedbackModal {
   margin-top:12%;
   margin-left:auto;
   margin-right:auto;
}

#feedbackModal .modal-body textarea{
  border-radius:6px;
  resize:none;
  padding:12px;
  border:2px solid DarkGrey;
}

textarea{
  resize:none;
}

body{
  background-image: url("/images/acc_mgnt/bg1.png");
}

hr.heart-hr {
  border-top: 4px double #e5bf9a;
  text-align: center;
  width:87%
}
hr.heart-hr:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -25px;
  padding: 0 10px;
  color: LightCoral;
  font-size: 30px;
}

hr.heart-hr-bottom{
  border-top: 4px double #e5bf9a;
  text-align: center;
  width:87%
}

#image-preview {
  margin-top:14px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
  border-radius: 50%;
}
#image-preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 20;
}
#image-preview label {
  padding-top: 45px;
  color:SteelBlue;
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.logo-container{
  width:130px;
  top:0;
  left:0;
}

</style>

</head>
<body class="account-mgnt">
	<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/users/account" style="color:#083a5b"><img src="/images/acc_mgnt/PlanIt_logo.jpg" class="logo-container" alt="PlanIt Logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" style="color:#fca13f">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#explore" style="color:#f7ba34">Explore</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule" style="color:#487bb4">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="moments.html" style="color:#dc4937">Moments</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" style="color:#3cbc8d">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/account" title="My Account"><img src=<%= user.propic %> class="img-circle profile-margin" style="height:25px;width:25px" alt="Profile Icon"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <div class="header-container" id="accHeader">
        <div class="img-container1">
             <img class="header-image" src="/images/acc_mgnt/party.png" style="width: 100%" alt="Let's party!">
             <h1>Seize the Moment</h1>
       </div>
    </div>


  <!-- Content -->
  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<img src=<%= user.propic %> class="img-circle" alt="profile_icon">
        	<span>Welcome, <strong><%= user.username %></strong>!</span>
        	<ul class="parallel-nav">
            <li><a href="/users/account/profile" title="Settings"><i class="fa fa-cog fa-2x" style="color:LightSlateGray"></i></a></li>
            <li><a href="/users/account" title="Account Overview"><i class="fa fa-user fa-2x" style="color:RoyalBlue"></i></a></li>
            <li><a href="" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out fa-2x" style="color:Sienna"></i></a></li>
        	</ul>
        	<hr>
            <ul class="sidebar-nav">
            	<li style="margin-left:10px">My Account</li>
                <li><a href="/users/account"><i class="fa fa-home fa-fw"></i> Account Overview</a></li>
                <li style="background-color: LightSkyBlue"><a href="/users/account/profile"><i class="fa fa-pencil fa-fw"></i> Edit Profile and Settings</a></li>
                <li><a href="/users/account/past"><i class="fa fa-diamond fa-fw"></i> Past Activities</a></li>
                <!-- Future Dev
                <li><a href="#news"><i class="fa fa-bell fa-fw"></i> News</a></li>
                <li><a href="settings.html"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
                End Future Dev -->
                <li><a href="" data-toggle="modal" data-target="#feedbackModal"><i class="fa fa-heart fa-fw"></i> Send Feedback</a></li>
                <li><a href="" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
        </div>

        <!-- Help and Feedback Modal -->
        <div class="modal fade" id="feedbackModal" role="dialog">
          <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4>Send Feedback <i class="fa fa-send"></i></h4>
              </div>
              <form method="post" action="/users/account/profile">
                <div class="modal-body">
                    <textarea type="text" cols="40" rows="5" style="width:100%" placeholder="Describe your issue or share your idea"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn">Submit</button>
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Logout Modal -->
        <div class="modal fade" id="logoutModal" role="dialog">
          <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4>Logout <i class="fa fa-lock"></i></h4>
              </div>
              <div class="modal-body">
                <i class="fa fa-question-circle"></i> Are you sure you want to log-off?
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn">Confirm</button>
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row"><br>
                    <div class="col-lg-12">
                      <div class="col-lg-1"></div>
                      <div class="col-lg-10" style="padding-left:0;">
                        <a href="/users/account" class="btn" id="menu-toggle" style="padding-left: 30px;padding-right: 30px;"">Menu <span class="glyphicon glyphicon-chevron-right"></span></a>
                      </div>
                      <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>


  <!-- Edit Profile Form -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 personal-info">
        <div class="col-lg-12">
            <hr class="heart-hr">
              <h2 class="intro-text text-center">Personal
                 <strong style="color:MediumAquaMarine">Information</strong>
              </h2>
           <hr class="heart-hr-bottom">
        </div>
      </div>
   <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10" style="background-color: LightYellow; border-radius: 15px;">

        <form class="form-horizontal" role="form" method="post" action="/users/account/profile">
          <div class="text-center">
            <div id="image-preview">
                <label for="image-upload" id="image-label">Upload Icon</label>
                <input type="file" name="image" id="image-upload">
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-lg-4 control-label"><i class="fa fa-user fa-fw"></i>Username:</label>
            <div class="col-lg-5">
              <input class="form-control" type="text" value=<%= user.username %> disabled>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label"><i class="fa fa-envelope fa-fw"></i>Email:</label>
            <div class="col-lg-5">
              <input class="form-control" type="text" value=<%= user.email %> disabled>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label"><i class="fa fa-phone fa-fw"></i>Telephone:</label>
            <div class="col-lg-5">
              <% if (user.phone_number) { %>
              <input class="form-control" type="text" value=<%= user.phone_number %> disabled>
              <% }else {%>
              <input class="form-control" type="text" value=<%= 'null' %> disabled>
              <% }%>

            </div>
            <div class="col-lg-3"></div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label"><i class="fa fa-info fa-fw"></i>Bio:</label>
            <div class="col-lg-5">
              <textarea class="form-control" type="text" name="intro" cols="40" rows="5" style="width:88%"><%= user.intro %></textarea>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label"><i class="fa fa-birthday-cake fa-fw"></i>Birthday:</label>
            <div class="col-lg-2">
              <select class="form-control" name="year" id="edit-year">
                  <option><%= user.birth.getFullYear() %></option>
              </select>
            </div>
            <div class="col-lg-1" style="padding: 0;width:9%">
              <select class="form-control" name="month" id="edit-month">
                  <option><%= user.birth.getMonth() %></option>
              </select>
            </div>
            <div class="col-lg-1" style="padding-right: 0; width:10%">
              <select class="form-control" name="date" id="edit-day">
                  <option><%= user.birth.getDate() %></option>
              </select>
            </div>
            <div class="col-lg-3"></div>
          </div>

          <br>
          <div class="form-group">
            <label class="col-lg-3 control-label"></label>
            <div class="col-lg-6 text-center">
              <input type="submit" class="btn btn-special" value="Save" style="width:80px">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-popup" data-toggle="modal" data-target="#passwordModal">Change Password</button>

              <!-- Modal -->
              <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                    </div>
                    <div class="modal-body" style="text-align: right;">
                      <form method="post" action="/users/account/profile">
                        <div class="row">
                          <div class="form-group">
                            <div class="col-md-5">
                              <label for="recipient-name" class="control-label">Old password</label>
                            </div>
                            <div class="col-md-7">
                              <input type="password" class="form-control" id="old-password" style="width: 50%">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group">
                            <div class="col-md-5">
                              <label for="message-text" class="control-label">New password</label>
                            </div>
                            <div class="col-md-7">
                              <input type="password" class="form-control" id="new-password" style="width: 50%">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group">
                            <div class="col-md-5">
                              <label for="text" class="control-label">Confirm password</label>
                            </div>
                            <div class="col-md-7">
                              <input type="password" class="form-control" id="confirm-password" style="width: 50%">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn">Save changes</button>
                      <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>

              <a href="/users/account"><input type="button" class="btn btn-special" value="Cancel" style="width:80px"></a>
            </div>
          </div>
          <br>
        </form>

      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <hr style="width:85%">
      </div>
    </div>
  </div>


     <!-- Footer -->
     <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; PlanIt 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

  </div>
</div>
</div>

    <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>



</body>
</html>
