<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/pageBarLogo.png">

    <title>PlanIt - Explore a Whole New World!</title>


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


    <!-- Theme CSS -->
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="/vendor/css/agency.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/explore_search.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]$-->
    <!--<script>
        $(document).ready(function(){
          $("#search_button").click(function(){
            $("#show_results").text("Search results for: \""+$("#search_text").val()+"\"");
            $("#thum1").hide();
            $("#thum2").hide();
            $("#thum3").hide();
            $("#thum4").hide();
            $("#thum5").hide();
            $("#thum6").hide();
            $("#thum7").hide();
            $("#thum8").fadeIn(400);
            $("#thum1").fadeIn(500);
            $("#thum2").fadeIn(600);
            $("#thum3").fadeIn(700);
            $("#thum4").fadeIn(800);
            $("#thum5").fadeIn(900);
            $("#thum6").fadeIn(1000);
            $("#thum7").fadeIn(1100);
            $("#thum8").fadeIn(1200);
          });

        });

    </script>-->


<style>
body{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

#searchBG{
  background-image: url('/images/explore/sky.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.th-fade{
  background-color: rgba(255,255,255,0.6);
}
.ct-nav{
  background-color: rgba(250,255,255,0.6);
}
.jumbotron{
    background-color:#2E2D88;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}

.navbar-search{
  border:2px solid #487bb4;
}

.btn{
    background-color: white;
    color: #487bb4;
    border: 2px solid #487bb4;
}

.btn:hover {
    background-color: #487bb4;
    color: white;
    border: 2px solid #487bb4;
}

.btn-navBar{
    background-color: #487bb4;
    color: white;
    border: 2px solid #487bb4;
}

.btn-navBar:hover{
    background-color: white;
    color: black;
}


#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #487bb4;
    color: #fff;
    border-radius: 8px;
    border-style: solid;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    text-decoration: none !important;
}
#loadMore:hover {
    background-color: #fff;
    color: #487bb4;
}

.more-moments a, .more-moments a:visited {
    color: #487bb4;
    text-decoration: none !important;
    display: block;
    margin: 10px 0;
}

.more-moments a:hover {
    text-decoration: none !important;
}


footer {
  padding: 25px 0;
  text-align: center;
  width:100%;
}

footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
}


ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

ul.list-inline li a{
    color:#487bb4;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

.active{
  background-color: red;
}

.search-head{
  text-align: center;
  color:white;
}

.search-head h1{
  font-size: 8.6vw;
}

.search-head h1:before, .search-head h1:after{
  content: "\2605";
  font-size:60px;
  display: inline-block;
  position: relative;
  top: -25px;
  padding: 0 10px;
  color:#ffff66;
}

</style>


</head>

<body id="searchBG">
  <!-- Collapsible Navigation Bar -->
<div class="container">

<!-- .navbar-fixed-top, or .navbar-fixed-bottom can be added to keep the nav bar fixed on the screen -->
<nav class="navbar navbar-default  ct-nav">
  <div class="container-fluid ">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <!-- Button that toggles the navbar on and off on small screens -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

      <!-- Hides information from screen readers -->
        <span class="sr-only"></span>

        <!-- Draws 3 bars in navbar button when in small mode -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- You'll have to add padding in your image on the top and right of a few pixels (CSS Styling will break the navbar) -->

    </div>

    <%- include search_navBar.ejs -%>

  </div><!-- /.container-fluid -->
</nav>

</div>
<!-- Original
<h1 style="text-align:center;" id="show_results"></h1>
<br><br>
-->
<div class="container">
  <div class="search-head">
    <h1><text style="color:#487bb4;">Live</text> <text style="color:#f7ba34">Laugh</text> <text style="color:LightSalmon">Love</text></h1>
  </div>

  <% if(activity) {%>
    <% for (var i=0; i< activity.length/4; i++) {%>
    <div class="row">
      <% for (var j=0; j< 4; j++) {%>
      <% if(i*4+j >= activity.length) { break;} %>
      <div class="activity-list" id=<%= "activityList"+(i*4+j) %>>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="thum1">
          <div class="thumbnail th-fade">
            <img src="<%= activity[(i*4+j)].pic %>" alt="...">
            <div class="caption">
              <h3><%= activity[(i*4+j)].title %></h3>
              <p><%= activity[(i*4+j)].intro %></p>
              <p><a href="#modal1" class="btn btn-primary" role="button" data-toggle="modal">detail</a></p>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  <% } %>


  <!-- Pagination -->
  <div class="row">
    <div class="col-lg-12">
      <div class="more-activities">
        <a href="#" id="loadMore">Load More</a>
      </div>
    </div>
  </div>
  <hr>
  <%- include footer.ejs -%>
</div>

<!--  Modals -->
<!-- Use the modals below to showcase details about concerts  -->

<!-- Past (Discard) Modal
<div class="portfolio-modal modal fade" id="Modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ">
                        <div class="modal-body">

                            <h2>Concert Title</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/images/explore_search/piano.jpg" alt="">
                            <p> Here is the description </p>

                            <ul class="list-inline">
                                <li><strong>Date:</strong> April 2017</li>
                                <li><strong>Location:</strong> Royal opera house
                                <li><strong>Performer:</strong> Tuna</li>
                                <li><strong>Category:</strong> Classic</li>

                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
End Discard Modal-->



</body>
</html>
