<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Event Calendar</title>
<link href='/css/fullcalendar.min.css' rel='stylesheet' />
<link href='/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Theme CSS -->
<link href="/vendor/css/agency.min.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='/lib/moment.min.js'></script>
<script src='/lib/jquery.min.js'></script>
<script src='/javascripts/fullcalendar.min.js'></script>
<script>
var newID=1;//whenever create a new event, newID increase by 1
$(document).ready(function() {
  $('input').hide();
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    defaultDate: '2017-04-13',
    navLinks: true, // can click day/week names to navigate views
    selectable: true,
    selectHelper: true,
    select: function(start, end) {
      var title = prompt('Event Title:');
      var eventData;
      if (title) {
        eventData = {
          title: title,
          start: start,
          end: end,
          id: newID
        };
        newID++;
        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
      }
      $('#calendar').fullCalendar('unselect');
    },
    eventClick: function(event, element) {

        var update=confirm("Modify this event?");
        if(update==true){
          var title=prompt("Please enter the title");
          event.title=title;
          var starting=prompt("Please enter its start time");
          event.start=starting;
          var ending=prompt("Please enter its end time");
          event.end=ending;
        }
        else{
          var deleteE=confirm("Do you want to delete this event?");
          if(deleteE==1){
            $('#calendar').fullCalendar('removeEvents',event.id);
          }

        }


        $('#calendar').fullCalendar('updateEvent', event);

    },

    editable: true,
    eventLimit: true, // allow "more" link when too many events

    //var eventArr=document.getElementById("event_title0").value;
    //alert("hey");

  });
  alert("hey");

});

</script>
<style>
body {
  margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

#calendar {
max-width: 900px;
margin: 0 auto;
}
</style>
</head>
<body>

  <%- include navBar.ejs -%>

  <% for (var i=0; i < schedule.length; i++) { %>
<input type="text" class="form-control" id=<%="event_title"+i%> value= <%= schedule[i].title+" "+schedule[i].title%> >
<input type="text" class="form-control" id=<%="event_start"+i%> value= <%= schedule[i].start_time.getFullYear()+"-"+schedule[i].start_time.getMonth()+"-"+schedule[i].start_time.getDate()%> >
<input type="text" class="form-control" id=<%="event_end"+i%> value= <%= schedule[i].end_time%> >
<input type="text" class="form-control" id=<%="event_url"+i%> value= <%= schedule[i].url%> >
<% } %>

  <div id='calendar'></div>
</body>
</html>
