<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Event Calendar</title>


<link href='/css/fullcalendar.min.css' rel='stylesheet' />
<link href='/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<!-- Theme CSS -->
<link href="/vendor/css/agency.min.css" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<script src='/lib/moment.min.js'></script>

<script src='/lib/jquery.min.js'></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src='/javascripts/fullcalendar.min.js'></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  $( function() {

    $( "#StartTime" ).datepicker();
    $( "#EndTime" ).datepicker();
    $( "#newStartTime" ).datepicker();
    $( "#newEndTime" ).datepicker();
  } );
  </script>

<script>
var newID=1;//whenever create a new event, newID increase by 1
$(document).ready(function() {

  //$('#StartTime').datepicker();
  var evenNum=document.getElementById("eventNumber").value;// number of existing event
  var title=new Array();
  var startTime=new Array();
  var endTime=new Array();
  var Url=new Array();
  var id_Arr=new Array();
  // store all information to Array :title,start,end,url,and ID
  for(var i=0;i<evenNum;i++){
    title.push(document.getElementById("event_title"+i).value);
    startTime.push(document.getElementById("event_start"+i).value);
    endTime.push(document.getElementById("event_end"+i).value);
    Url.push(document.getElementById("event_url"+i).value);
    id_Arr.push(document.getElementById("event_id"+i).value);
  }


  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    defaultDate: '2017-04-13',
    navLinks: true, // can click day/week names to navigate views
    selectable: true,
    selectHelper: true,
    //##################################     add new event  #########################################
    select: function(start, end) {

      $("#dialogModal2").modal();
      $("#StartTime").val(start);
      $("#EndTime").val(end);
    },

    eventClick: function(event, element) {

        //$('#detailModal').modal('show');

        var update=confirm("Do you want to modify this event?");
        //#####################################       modify old event ##########################################
        if(update==true){
          $("#dialogModal").modal();
          $("#new_id").val(event.id);
          $("#newStartTime").val(event.start);
          $("#newEndTime").val(event.end);
          $("#delete_btn1").click(function(){
            //alert("hey"+event.id);
            $('#calendar').fullCalendar('removeEvents',event.id);
            document.getElementById("storeDelete").value=event.id;
            //alert(document.getElementById("storeDelete").value);


            //post the deleted event
            //alert("hey there");
            document.getElementById("delete_submit").submit();
            $('#calendar').fullCalendar('updateEvent', event);
            //alert("hey there kk");
            //$('#calendar').fullCalendar('updateEvent', event);
            //alert("hey there end");
          });
        }
        else{
          //#########################################  delete old event ###########################################
          var deleteE=confirm("Do you want to delete this event?");
          if(deleteE==1){

            $('#calendar').fullCalendar('removeEvents',event.id);
            document.getElementById("storeDelete").value=event.id;
            //post the deleted event
            document.getElementById("delete_submit").submit();
          }

        }


        $('#calendar').fullCalendar('updateEvent', event);

    },

    editable: true,
    eventLimit: true, // allow "more" link when too many events
    //for(var i=0;i<evenNum;i++)


  });



  //initialize all existing events in database

  for(var i=0;i<evenNum;i++){

      $('#calendar').fullCalendar('renderEvent', {title:title[i],start:startTime[i],end:endTime[i],id:id_Arr[i]}, true);

  }


});

</script>
<style>
body {
  margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

#calendar {
max-width: 900px;
margin: 0 auto;
}
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
</style>
</head>
<body>

  <%- include navBar.ejs -%>
<!--  ##############################    Get event data from database   ##############################   -->
<input type="hidden" class="form-control" id="eventNumber" value=<%=schedule.length %> >
<% for (var i=0; i < schedule.length; i++) { %>
<input type="hidden" class="form-control" id=<%="event_title"+i%> value= <%= schedule[i].title%> >
<input type="hidden" class="form-control" id=<%="event_id"+i%> value= <%= schedule[i]._id%> >
<input type="hidden" class="form-control" id=<%="event_start"+i%> value= <%= schedule[i].start_time.getFullYear()+"."+(schedule[i].start_time.getMonth()+1)+"."+schedule[i].start_time.getDate()%> >
<input type="hidden" class="form-control" id=<%="event_end"+i%> value= <%= schedule[i].end_time.getFullYear()+"."+(schedule[i].end_time.getMonth()+1)+"."+schedule[i].end_time.getDate()%> >
<input type="hidden" class="form-control" id=<%="event_url"+i%> value= <%= schedule[i].url%> >

<% } %>
<!--  ##############################   Store deleted event   ##############################  -->
<form id="delete_submit" action="/users/account/myschedule/delete" method="post" >
<input type="hidden" id="storeDelete" name="id" value="">

</form>
<!--  ##############################    Store modified event  ##############################  -->
<form id="modify_submit" action="/users/account/myschedule/update" method="post" >
<input id="changeEvent_id" name="changed_id"type="hidden" class="form-control" value="">
<input id="changeEvent_title" name="changed_title" type="hidden" class="form-control" value="">
<input id="changeEvent_start" name="changed_start" type="hidden" class="form-control" value="">
<input id="changeEvent_end" name="changed_end" type="hidden" class="form-control" value="">
</form>
<!-- ##############################   Store new event ################################################ -->
<form id="newEvent_submit" action="/users/account/myschedule/insert" method="post" >

<input id="newEvent_title" name="new_title" type="hidden" class="form-control" value="">
<input id="newEvent_start" name="new_start" type="hidden" class="form-control" value="">
<input id="newEvent_end" name="new_end" type="hidden" class="form-control" value="">
<input id="newEvent_url" name="new_url" type="hidden" class="form-control" value="myschedule">
</form>
<br> <br>

<!-- Modal -->
<div class="modal fade" id="dialogModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modify event
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form role="form" action="/users/account/myschedule/update" method="post">
                  <div class="form-group">

                      <input type="hidden" class="form-control" id="new_id" name="changed_id" placeholder=""/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">New title</label>
                      <input type="text" class="form-control" id="new_title" name="changed_title" placeholder=""/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Start time</label>
                      <input name="changed_start" type="text" class="form-control"
                          id="newStartTime" placeholder=""/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">End time</label>
                      <input name="changed_end"type="text" class="form-control"
                          id="newEndTime" placeholder=""/>
                  </div>
                  <button  id="delete_btn1" class="btn btn-danger">Delete Event</button>
                  <button id="modify_btn" type="submit" class="btn btn-primary">Save changes</button>
                </form>


            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>

            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ">
                        <div class="modal-body">
                            <!-- Concert Details Go Here -->
                            <h2>Concert Title</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/concert/piano.jpg" alt="">
                            <p> Here is the description </p>

                            <ul class="list-inline">
                                <li><strong>Date:</strong> April 2017</li>
                                <li><strong>Location:</strong> Royal opera house
                                <li><strong>Performer:</strong> Tuna</li>
                                <li><strong>Category:</strong> Classic</li>

                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="dialogModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    New event
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form role="form" action="/users/account/myschedule/insert" method="post">

                  <div class="form-group">
                    <label for="exampleInputEmail1">Event title</label>
                      <input type="text" class="form-control" id="new_title" name="new_title" placeholder=""/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Start time</label>
                      <input name="new_start" type="text" class="form-control"
                          id="StartTime" placeholder=""/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">End time</label>
                      <input name="new_end"type="text" class="form-control"
                          id="EndTime" placeholder=""/>
                  </div>

                  <button id="modify_btn" type="submit" class="btn btn-primary">Add to schedule</button>
                </form>


            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>

            </div>
        </div>
    </div>
</div>
  <div id='calendar'></div>
</body>
</html>
